.App{
  display: flex;
  flex-direction: column; 
  text-align: center;
  gap: 10px;
}

.form{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.inputNumber{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 15%;
}

.button{
  padding: 5px;
  width: 60px;
  background-color: rgb(126, 126, 225);
  border: none;
  color: #FFFF;
  border-radius: 5px;
}



.otpInput{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  font-size: 1.2em;
  text-align: center;
}